* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
}

a {
    color: #4a5cbe;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 0;
}

form p {
    color: #909090;
    margin: 15px 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}

button {
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
}

button:hover {
    color: #ffffff;
    background: #555454;
}

.button {
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
}

.button:hover {
    color: #ffffff;
    background: #555454;
}

.msg {
    border: 2px solid #eb0606;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}